/* Global Default */

html,
body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    background-color: #f0f0f0;
}

#page-header {
    z-index: 9999;
}

#content-container {
    height: calc( 100% - 64px);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#page-content-container {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    position: relative;
}

#page-content-container #mainContent {
    height: auto;
    min-height: calc( 100% - 100px);
    padding: 0;
    margin: 0;
    position: relative;
}


/* Side Nav Large */

#side-nav-large-container {
    min-height: 100%;
    height: 100vh;
    background-color: #2c2c2c;
}

#side-nav-large-container ul {
    margin-top: 30px;
    padding-left: 25px;
}

#side-nav-large-container li {
    font-size: 13px;
    line-height: 12px;
    vertical-align: middle;
    margin: 10px 0;
}

#side-nav-large-container li:hover a {
    color: #B71C1C;
}

#side-nav-large-container li a {
    color: #fff;
    width: auto;
}

#side-nav-large-container li i {
    margin-right: 14px;
    font-size: 18px;
}

#side-nav-large-container hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#side-nav-large-container .btn {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    #side-nav-large-container {
        display: none;
    }
}


/* Header */

#profile-btn,
#profile-btn a {
    height: 64px;
}

#profile-btn img {
    height: 44px;
    margin-top: 10px;
    border-radius: 50%;
}

#profile-popup {
    width: 250px !important;
    top: 64px !important;
}


/* Footer */
#page-content-container footer {
    height: 100px;
    padding: 0;
    margin: 0;
    color: #666;
}

#page-content-container footer .links li {
    display: inline;
    margin-right: 10px;
}

#page-content-container footer .links li a {
    color: #666;
}

#page-content-container footer .links li:hover a {
    color: #B71C1C;
}

#page-content-container footer .container {
    padding: 0;
    margin: 0;
}

#page-content-container footer .container .row {
    padding: 0;
    margin: 0;
}


/* Profile */

#profile-header {
    height: 320px;
    background-color: #888;
    padding: 0;
    background-image: url(../image/sample-header.jpg);
    background-size: cover;
    background-position: 0 60%;
}

#profile-header .pro-info {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    float: right;
    text-align: center;
    color: #fff;
}

#profile-header .pro-info img {
    height: 38%;
    margin: 8% 5% 0;
    border-radius: 50%;
}

#profile-header .pro-info h5 {

}

#profile-header .pro-info p {
    color: #ccc;
}

#profile-menu {
    /*height: 55px;*/
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    padding: 0;
}

#profile-menu div.col {
    padding: 0;
}

#profile-menu .links {
    margin: 0;
}

#profile-menu .links li {
    display: inline-block;
    /*padding: 15px 15px;*/
    box-sizing: content-box;
    border-bottom: 2px solid #fff;
}

#profile-menu .links li:hover {
    border-color: #C62828;
}

#profile-menu .links li:hover a {
    color: #666;
}

#profile-menu .links li.active,
#profile-menu .links li.active a {
    font-weight: bold;
    color: #000;
}

#profile-menu .m3 a {
    margin-top: 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
    width:100%;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}