/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 14, 16, 7:28:05 AM
    Author     : johnenrick
*/
#browseVideo #searchText{
    padding-left:5px;
}
#browseVideo .videoItem .card.horizontal{
     max-height:105px;
}
#browseVideo .videoItem .card.horizontal .card-image{ 
    overflow: hidden;
   
    width: 100%
}
#browseVideo .videoItem .card.horizontal .card-image img{
    height:100%;
    width:100%;
}
#browseVideo .videoItem .card.horizontal .card-content{
    padding:5px 10px;
    
}
#browseVideo .videoItem .card.horizontal .card-stacked{
    width:70%!important
}
#browseVideo .videoItem  .card.horizontal .card-image{ 
    width: 30%!important;
}

#browseVideo #searchBar .checkbox-red[type="checkbox"] + label:before{
    border: 2px solid #C62828;
    background: transparent;
}
#browseVideo #searchBar .checkbox-red[type="checkbox"]:checked + label:before{
    border: 2px solid transparent;
    border-bottom: 2px solid #C62828;
    border-right: 2px solid #C62828;
    background: transparent;
}
#browseVideo #searchBar .checkbox-red.filled-in[type="checkbox"] + label:after{
    border: 2px solid #C62828;
    background: transparent;
}
#browseVideo #searchBar .checkbox-red.filled-in[type="checkbox"]:checked + label:after{
    background: #C62828;
}
#browseVideo #searchBar .checkbox-red.filled-in[type="checkbox"]:checked + label:before{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}