/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08 11, 16, 6:50:35 PM
    Author     : johnenrick
*/

.red-outline{
    border-style:solid;
    border-color:#B71C1C !important;
    color :#B71C1C;
    border-width: 1px;
}