/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08 9, 16, 8:51:28 PM
    Author     : johnenrick
*/
.card-image-description{
    bottom: 0;
    left: 0;
    position: absolute;
    color:white;
    padding :20px;
}
.card.horizontal{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.card.horizontal .card-image{ 
    /*max-width: 50%;*/
}

.card.horizontal .card-stacked{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}