/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08 26, 16, 6:28:32 PM
    Author     : johnenrick
*/

.modal-lg{
    width:90%;
    /*height: 80%!important;*/
    max-height: 80%;
}
.modal-sm{
    width:30%;
}