/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 20, 16, 5:18:01 PM
    Author     : johnenrick
*/
.c-center{
    margin-right:auto;
    margin-left : auto;
}
.no-margin-bot{
    margin-bottom : 0px!important;
}
.no-margin-top{
    margin-top:0px;
}
.margin-right-5{
    margin-right:5px
}
.margin-side-10{
    margin-left : 10px;
    margin-right : 10px;
}
.no-padding-left{
    padding-left: 0px!important;
}
.no-padding-right{
    padding-left: 0px!important;
}
.no-padding-side{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
@media only screen and (min-width: 993px){
    .border-space-left-5{
        border-left-style: solid;
        border-width: 5px;
        border-color: #f0f0f0;
    }
    .border-space-right-5{
        border-right-style: solid;
        border-width: 5px;
        border-color: #f0f0f0;
    }
} 
@media only screen and (min-width: 600px){//medium to large
    .pull-md-right{
        float:right;
    }
}
@media only screen and (max-width: 600px){
    .right-align-sm{
        text-align: right;
        float:right;
    }
    .left-align-sm{
        text-align: left;
        float:left;
    }
}
.padding-20{
    padding: 20px
}
.padding-10{
    padding: 10px!important;
}
.padding-5{
    padding: 5px!important;
}
.padding-top-10{
    padding-top: 10px!important
}
.padding-bot-10{
    padding-bottom: 0px!important;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-5{
    margin-bottom: 5px!important;
}
.no-display{
    display:none;
}
.position-absolute{
    position:absolute;
}
.no-line-height{
    line-height: 0px!important;
}
.overflow-hidden{
    overflow: hidden;
}
.width-99{
    width:99%!important;
}