/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 20, 16, 5:18:01 PM
    Author     : johnenrick
*/
.c-center{
    margin-right:auto;
    margin-left : auto;
}
.no-margin-bot{
    margin-bottom : 0px;
}
.margin-right-5{
    margin-right:5px
}
@media only screen and (min-width: 993px){
    .border-space-left-5{
        border-left-style: solid;
        border-width: 5px;
        border-color: #f0f0f0;
    }
    .border-space-right-5{
        border-right-style: solid;
        border-width: 5px;
        border-color: #f0f0f0;
    }
} 
.padding-20{
    padding: 20px
}
.margin-top-15{
    margin-top: 15px;
}
.no-display{
    display:none;
}
.position-absolute{
    position:absolute;
}