/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 20, 16, 5:18:01 PM
    Author     : johnenrick
*/
.c-center{
    margin-right:auto;
    margin-left : auto;
}
.no-margin-bot{
    margin-bottom : 0px;
}